In [1]:
#Function used-> pd.DataFrame
import pandas as pd 

lst=['Geeks','Yash','Data Scientist','Successful']
df = pd.DataFrame(lst)    
print(df)

                0
0           Geeks
1            Yash
2  Data Scientist
3      Successful

In [2]:
#Create DataFrame from List using Dictionary

import pandas as pd
# list of name, degree, score
nme = ["aparna", "pankaj", "sudhir", "Geeku"]
deg = ["MBA", "BCA", "M.Tech", "MBA"]
scr = [90, 40, 80, 98]

#dictionary of lists
dict={'name':nme, 'degree':deg, 'score':scr}

df = pd.DataFrame(dict)

print(df)

     name  degree  score
0  aparna     MBA     90
1  pankaj     BCA     40
2  sudhir  M.Tech     80
3   Geeku     MBA     98

In [3]:
import pandas as pd

list = [[1,2,3,4],[5,6,7,9]]
df = pd.DataFrame(list)
print(df)

   0  1  2  3
0  1  2  3  4
1  5  6  7  9

In [5]:
import pandas as pd

list = [['Yash',23],['Abhishek',22],['Rohit',15]]

df = pd.DataFrame(list,columns=['Name','Age'])
print(df)

       Name  Age
0      Yash   23
1  Abhishek   22
2     Rohit   15

In [9]:
import pandas as pd
data = [['Yash', 23, 'Data Scientist'],['Harsh', 22, 'Business Analyst']]
column = ['Name','Age','Occupation']
df = pd.DataFrame.from_records(data, columns=column)
print(df)

    Name  Age        Occupation
0   Yash   23    Data Scientist
1  Harsh   22  Business Analyst

In [10]:
import pandas as pd

data = {'Category':['General','OBC','SC/ST'],
        'Marks':[99,80,50]}

df=pd.DataFrame(data)
print(df)

  Category  Marks
0  General     99
1      OBC     80
2    SC/ST     50

In [13]:
import pandas as pd

data = {'Area':['Array','Stack','Queue'], 'Student_1':[20,21,19], 'Student_2':[15,20,24]}
index1 = ['Cat_1','Cat_2','Cat_3']
df = pd.DataFrame(data, index=index1)
print(df)

        Area  Student_1  Student_2
Cat_1  Array         20         15
Cat_2  Stack         21         20
Cat_3  Queue         19         24

In [14]:
#Creating dataframe using tuples 
import pandas as pd

data = [('Peter',18,7),
       ('Riff',15,6),
       ('John',17,8)]

df=pd.DataFrame(data,columns=['Name','Age','Score'])

print(df)

    Name  Age  Score
0  Peter   18      7
1   Riff   15      6
2   John   17      8

In [15]:
#We can also create the data fram by using from_records() function 
# For example ->
# df = pd.DataFrame.from_records(data,columns=['Team','Age','Score'])
# print(df)

SyntaxError: invalid syntax (3267063435.py, line 2)

In [17]:
#Creating data frame using list of dictionaries
import pandas as pd

data=[{'Geeks':'dataframe','For':'using','geeks':'list'},
     {'Geeks':10, 'For':20 , 'list':30}]

df = pd.DataFrame.from_records(data,index=[1,2])
print(df)

       Geeks    For geeks  list
1  dataframe  using  list   NaN
2         10     20   NaN  30.0

In [19]:
import pandas as pd
data = [{'Geeks':'dataframe','For':'using'},{'Geeks':10 , 'For':20}]

df1 = pd.DataFrame(data,index=['ind1','ind2'])

df2 = pd.DataFrame(data,index=['indx','indy'],columns=['Geeks','For','Geeks'])

print(df1)

print(df2)

          Geeks    For
ind1  dataframe  using
ind2         10     20
          Geeks    For      Geeks
indx  dataframe  using  dataframe
indy         10     20         10

In [21]:
#nested Dictionaries in Panda DataFrame
import pandas as pd

data = [{'Country': 'New Country 1' , 'Capital':'New Capital 1', 'Population': 123456789},
       {'Country':'New Country 2','Capital':'New Capital 2','Population':987654321},
       {'Country':'New Country3','Capital':'New Capital 3','Population':111222333}]

df = pd.DataFrame(data, index=[1,2,3])
print(df)

         Country        Capital  Population
1  New Country 1  New Capital 1   123456789
2  New Country 2  New Capital 2   987654321
3   New Country3  New Capital 3   111222333

In [36]:
import pandas as pd

list = [{
        "Student": [{"Exam": 90, "Grade": "a"},
                    {"Exam": 99, "Grade": "b"},
                    {"Exam": 97, "Grade": "c"},
                    ],
        "Name": "Paras Jain"
        },
        {
        "Student": [{"Exam": 89, "Grade": "a"},
                    {"Exam": 80, "Grade": "b"}
                    ],
        "Name": "Chunky Pandey"
        }
        ]

rows = []
for data in list:
    data_row = data['Student']
#     print(data_row)
    time=data['Name']
#     print(time)
    for row in data_row:
        row['Name'] = time
#         print(row)
        rows.append(row)
#         print(rows)
        

df = pd.DataFrame(rows, index=[1,2,3,4,5])

print(df)

   Exam Grade           Name
1    90     a     Paras Jain
2    99     b     Paras Jain
3    97     c     Paras Jain
4    89     a  Chunky Pandey
5    80     b  Chunky Pandey

In [30]:
#using pivot table
df = df.pivot_table(index='Name',columns=['Grade'],values=['Exam']).reset_index()

#defining columns
df.columns = ['Name','Maths','Physics','Chemistry']

#print dataframe
# print(df)

            Name  Maths  Physics  Chemistry
0  Chunky Pandey   89.0     80.0        NaN
1     Paras Jain   90.0     99.0       97.0

In [43]:
import pandas as pd 

df = pd.DataFrame({'City':['New York', 'Parague', 'New Delhi', 'Venice', 'new Orleans'],
                  'Event':['Music','Poetry','Theatre','Comedy','Tech_Summit'],
                  'Cost':[10000,5000,15000,2000,12000]})

# print(df)
index_ = [pd.Period('02-2018'), pd.Period('04-2018'),
          pd.Period('06-2018'), pd.Period('10-2018'),
         pd.Period('12-2018')]

df.index = index_ 

# print(df)

#replace the matching strings
df_updated = df.replace(to_replace = 'new', value = 'New_' , regex=True)

#Print the updated dataframe
print(df_updated)

                 City        Event   Cost
2018-02      New York        Music  10000
2018-04       Parague       Poetry   5000
2018-06     New Delhi      Theatre  15000
2018-10        Venice       Comedy   2000
2018-12  New_ Orleans  Tech_Summit  12000

In [44]:
#Thus we can see in the output the old strings have been replaced and the new ones are inserted successfully

In [45]:
# importing pandas as pd
import pandas as pd
 
# Let's create a Dataframe
df = pd.DataFrame({'City':['New York (City)', 'Parague', 'New Delhi (Delhi)', 'Venice', 'new Orleans'],
                    'Event':['Music', 'Poetry', 'Theatre', 'Comedy', 'Tech_Summit'],
                    'Cost':[10000, 5000, 15000, 2000, 12000]})
 
 
# Let's create the index
index_ = [pd.Period('02-2018'), pd.Period('04-2018'),
          pd.Period('06-2018'), pd.Period('10-2018'), pd.Period('12-2018')]
 
# Set the index
df.index = index_
 
# Let's print the dataframe
print(df)

                      City        Event   Cost
2018-02    New York (City)        Music  10000
2018-04            Parague       Poetry   5000
2018-06  New Delhi (Delhi)      Theatre  15000
2018-10             Venice       Comedy   2000
2018-12        new Orleans  Tech_Summit  12000

In [46]:
#Now we will write our own customized function to match the description in the names of the cities

### Re package import for data cleaning

In [47]:
#Importing re package for using regular expressions
import re

#Function to clean the names 
def Clean_names(City_name):
    #Search for opening bracket in the name followed by any characters repeated any number pf times
    if re.search('\(.*', City_name):
        
        #Extract the  position of begining of pattern 
        pos = re.search('\(.*', City_name).start()
        
        #return the clean name 
        return City_name[:pos]
    
    else:
        #if clean up needed return the same name 
        return City_name
    
#Updated the city columns 
df['City'] = df['City'].apply(Clean_names)

#Print the updated dataframe 
print(df)

                City        Event   Cost
2018-02    New York         Music  10000
2018-04      Parague       Poetry   5000
2018-06   New Delhi       Theatre  15000
2018-10       Venice       Comedy   2000
2018-12  new Orleans  Tech_Summit  12000

In [48]:
#Creating Pandas dataFrames from Series

import pandas as pd 

author = ['Jitender', 'Purnima', 'Arpit', 'Jyoti']

auth_series = pd.Series(author)

print(auth_series)

0    Jitender
1     Purnima
2       Arpit
3       Jyoti
dtype: object

In [49]:
#Create dataFrame from multiple series
import pandas as pd 

author = ['Jitender', 'Purnima', 'Arpit', 'Jyoti']
article = [210,211,114,178]

auth_series = pd.Series(author)
article_series = pd.Series(article)

frame = {'Author': auth_series,
             'Article' : article_series}

result = pd.DataFrame(frame)

print(result)

     Author  Article
0  Jitender      210
1   Purnima      211
2     Arpit      114
3     Jyoti      178

In [51]:
#Adding a new column in a panda data frame 
import pandas as pd 

author = ['Jitender', 'Purnima', 'Arpit', 'Jyoti']
article = [210,211,114,178]

auth_series = pd.Series(author)
article_series = pd.Series(article)

frame = {'Author': auth_series,
             'Article' : article_series}

result = pd.DataFrame(frame)

age = [21,21,24,23]

result['Age'] = pd.Series(age)

print(result)

     Author  Article  Age
0  Jitender      210   21
1   Purnima      211   21
2     Arpit      114   24
3     Jyoti      178   23

In [3]:
import pandas as pd 

from io import StringIO

StringData = StringIO("""Date;Event;Cost
    10/2/2011;Music;10000
    11/2/2011;Poetry;12000
    12/2/2011;Theatre;5000
    13/2/2011;Comedy;8000
    """)

df = pd.read_csv(StringData, sep=";")
print(df)

            Date    Event   Cost
0      10/2/2011    Music  10000
1      11/2/2011   Poetry  12000
2      12/2/2011  Theatre   5000
3      13/2/2011   Comedy   8000

In [4]:
import pandas as pd

data = {"Date" :['10/2/2011','11/2/2011','12/2/2011','13/2/2011'],
       "Product":['UMbreLla','maTtress','BaDmintoN','Shuttle'],
       "Updated_Price":[1250,1450,1550,400],
       "Discount":[10,8,15,10]}

df = pd.DataFrame(data)
print(df)

        Date    Product  Updated_Price  Discount
0  10/2/2011   UMbreLla           1250        10
1  11/2/2011   maTtress           1450         8
2  12/2/2011  BaDmintoN           1550        15
3  13/2/2011    Shuttle            400        10

In [10]:
import pandas as pd

data = {'Date' :['10/2/2011','11/2/2011','12/2/2011','13/2/2011'],
       'Product':['UMbreLla','maTtress','BaDmintoN','Shuttle'],
       'Updated_Price':[1250,1450,1550,400],
       'Discount':[10,8,15,10]}

df = pd.DataFrame(data)

#Now we will write our own customized function to solve this type of an error 

def Format_data(df):
    # to iterate over the rows 
    for i in range(df.shape[0]):
        df.iat[i,1]=df.iat[i,1].strip().capitalize()
        
#Lets call the function
Format_data(df)

#Print the DataFrame
print(df)

        Date    Product  Updated_Price  Discount
0  10/2/2011   Umbrella           1250        10
1  11/2/2011   Mattress           1450         8
2  12/2/2011  Badminton           1550        15
3  13/2/2011    Shuttle            400        10

In [12]:
import pandas as pd 

data = {'Date':['10/2/2011', '11/2/2011', '12/2/2011', '13/2/2011'],
     'Product':[' UMbreLla', '  maTtress', 'BaDmintoN ', 'Shuttle'],
     'Updated_Price':[1250, 1450, 1550, 400],
     'Discount':[10, 8, 15, 10]}

df = pd.DataFrame(data)

df['Product'] = df['Product'].apply(lambda x: x.strip().capitalize())

In [14]:
import pandas as pd 
import numpy as np

column=['a','b','c','d','e']
index=['A','B','C','D','E']

df1 = pd.DataFrame(np.random.rand(5,5), columns=column, index=index)

print(df1)

print('\n\n Dataframe after reindexing rows:\n', df1.reindex(['B','D','A','C','E']))

          a         b         c         d         e
A  0.685491  0.601543  0.504367  0.577154  0.265073
B  0.735435  0.013538  0.881412  0.552068  0.644814
C  0.601426  0.652273  0.343900  0.978553  0.710884
D  0.557339  0.489910  0.609926  0.541437  0.239447
E  0.058945  0.161030  0.622241  0.568411  0.046652


 Dataframe after reindexing rows:
           a         b         c         d         e
B  0.735435  0.013538  0.881412  0.552068  0.644814
D  0.557339  0.489910  0.609926  0.541437  0.239447
A  0.685491  0.601543  0.504367  0.577154  0.265073
C  0.601426  0.652273  0.343900  0.978553  0.710884
E  0.058945  0.161030  0.622241  0.568411  0.046652

In [23]:
import numpy as np
import pandas as pd

column=['a','b','c']
index=['A','B','C']

df1=pd.DataFrame(np.random.rand(3,3), columns=column, index=index)

column=['c','a','b','e','f']

print(df1.reindex(column,axis='columns', fill_value=1.5))

          c         a         b    e    f
A  0.429716  0.668370  0.919316  1.5  1.5
B  0.859152  0.648085  0.458252  1.5  1.5
C  0.364794  0.354506  0.648578  1.5  1.5

In [24]:
import pandas as pd
 
data = {'Name':['Jai', 'Princi', 'Gaurav', 'Anuj', 'Geeku'],
        'Age':[27, 24, 22, 32, 15],
        'Address':['Delhi', 'Kanpur', 'Allahabad', 'Kannauj', 'Noida'],
        'Qualification':['Msc', 'MA', 'MCA', 'Phd', '10th'] }

index = ['a', 'b', 'c', 'd', 'e']

df = pd.DataFrame(data,index)

df.reset_index(inplace=True)

print(df)

  index    Name  Age    Address Qualification
0     a     Jai   27      Delhi           Msc
1     b  Princi   24     Kanpur            MA
2     c  Gaurav   22  Allahabad           MCA
3     d    Anuj   32    Kannauj           Phd
4     e   Geeku   15      Noida          10th

In [25]:
#We can also make a column as also an index 

import pandas as pd

data={'Name':['Jai', 'Princi', 'Gaurav', 'Anuj', 'Geeku'],
        'Age':[27, 24, 22, 32, 15],
        'Address':['Delhi', 'Kanpur', 'Allahabad', 'Kannauj', 'Noida'],
        'Qualification':['Msc', 'MA', 'MCA', 'Phd', '10th'] }

index = ['a','b','c','d','e']

df = pd.DataFrame(data,index)

df.set_index(['Age'], inplace=True)

print(df)

       Name    Address Qualification
Age
27      Jai      Delhi           Msc
24   Princi     Kanpur            MA
22   Gaurav  Allahabad           MCA
32     Anuj    Kannauj           Phd
15    Geeku      Noida          10th

In [29]:
import pandas as pd

data= {'Name':['Tom','Nick','John','Peter'] , 'Age':[15,26,17,28]}
df = pd.DataFrame(data)
print(df)

    Name  Age
0    Tom   15
1   Nick   26
2   John   17
3  Peter   28

In [30]:
#For changing the row name and the column name we use df.columns function and df.index function
import pandas as pd

data= {'Name':['Tom','Nick','John','Peter'] , 'Age':[15,26,17,28]}
df = pd.DataFrame(data)

df.columns=['Col_1','Col_2']
df.index = ['Row_1','Row_2','Row_3','Row_4']

print(df)

       Col_1  Col_2
Row_1    Tom     15
Row_2   Nick     26
Row_3   John     17
Row_4  Peter     28

In [39]:
#For changing the row name and the column name we use df.columns function and df.index function
import pandas as pd

data= {'Name':['Tom','Nick','John','Peter'] , 'Age':[15,26,17,28]}
df = pd.DataFrame(data)

df.columns=['Col_1','Col_2']
df.index = ['Row_1','Row_2','Row_3','Row_4']

df = df.rename({"Row_1":"Rod_1"}, axis='index')

print(df)

       Col_1  Col_2
Rod_1    Tom     15
Row_2   Nick     26
Row_3   John     17
Row_4  Peter     28

In [40]:
import numpy as np
from sklearn.datasets import load_iris
import pandas as pd
 
data = load_iris()
df = pd.DataFrame(data.data, 
                  columns = data.feature_names)
 
# The scope of these changes made to
# pandas settings are local to with statement.
with pd.option_context('display.max_rows', None,
                       'display.max_columns', None,
                       'display.precision', 3,
                       ):
    print(df)

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
5                  5.4               3.9                1.7               0.4
6                  4.6               3.4                1.4               0.3
7                  5.0               3.4                1.5               0.2
8                  4.4               2.9                1.4               0.2
9                  4.9               3.1                1.5               0.1
10                 5.4               3.7                1.5               0.2
11                 4.8               3.4                1.6               0.2
12                 4.8               3.0                1.4               0.1
13                 4.3               3.0                1.1               0.1
14                 5.8               4.0                1.2               0.2
15                 5.7               4.4                1.5               0.4
16                 5.4               3.9                1.3               0.4
17                 5.1               3.5                1.4               0.3
18                 5.7               3.8                1.7               0.3
19                 5.1               3.8                1.5               0.3
20                 5.4               3.4                1.7               0.2
21                 5.1               3.7                1.5               0.4
22                 4.6               3.6                1.0               0.2
23                 5.1               3.3                1.7               0.5
24                 4.8               3.4                1.9               0.2
25                 5.0               3.0                1.6               0.2
26                 5.0               3.4                1.6               0.4
27                 5.2               3.5                1.5               0.2
28                 5.2               3.4                1.4               0.2
29                 4.7               3.2                1.6               0.2
30                 4.8               3.1                1.6               0.2
31                 5.4               3.4                1.5               0.4
32                 5.2               4.1                1.5               0.1
33                 5.5               4.2                1.4               0.2
34                 4.9               3.1                1.5               0.2
35                 5.0               3.2                1.2               0.2
36                 5.5               3.5                1.3               0.2
37                 4.9               3.6                1.4               0.1
38                 4.4               3.0                1.3               0.2
39                 5.1               3.4                1.5               0.2
40                 5.0               3.5                1.3               0.3
41                 4.5               2.3                1.3               0.3
42                 4.4               3.2                1.3               0.2
43                 5.0               3.5                1.6               0.6
44                 5.1               3.8                1.9               0.4
45                 4.8               3.0                1.4               0.3
46                 5.1               3.8                1.6               0.2
47                 4.6               3.2                1.4               0.2
48                 5.3               3.7                1.5               0.2
49                 5.0               3.3                1.4               0.2
50                 7.0               3.2                4.7               1.4
51                 6.4               3.2                4.5               1.5
52                 6.9               3.1                4.9               1.5
53                 5.5               2.3                4.0               1.3
54                 6.5               2.8                4.6               1.5
55                 5.7               2.8                4.5               1.3
56                 6.3               3.3                4.7               1.6
57                 4.9               2.4                3.3               1.0
58                 6.6               2.9                4.6               1.3
59                 5.2               2.7                3.9               1.4
60                 5.0               2.0                3.5               1.0
61                 5.9               3.0                4.2               1.5
62                 6.0               2.2                4.0               1.0
63                 6.1               2.9                4.7               1.4
64                 5.6               2.9                3.6               1.3
65                 6.7               3.1                4.4               1.4
66                 5.6               3.0                4.5               1.5
67                 5.8               2.7                4.1               1.0
68                 6.2               2.2                4.5               1.5
69                 5.6               2.5                3.9               1.1
70                 5.9               3.2                4.8               1.8
71                 6.1               2.8                4.0               1.3
72                 6.3               2.5                4.9               1.5
73                 6.1               2.8                4.7               1.2
74                 6.4               2.9                4.3               1.3
75                 6.6               3.0                4.4               1.4
76                 6.8               2.8                4.8               1.4
77                 6.7               3.0                5.0               1.7
78                 6.0               2.9                4.5               1.5
79                 5.7               2.6                3.5               1.0
80                 5.5               2.4                3.8               1.1
81                 5.5               2.4                3.7               1.0
82                 5.8               2.7                3.9               1.2
83                 6.0               2.7                5.1               1.6
84                 5.4               3.0                4.5               1.5
85                 6.0               3.4                4.5               1.6
86                 6.7               3.1                4.7               1.5
87                 6.3               2.3                4.4               1.3
88                 5.6               3.0                4.1               1.3
89                 5.5               2.5                4.0               1.3
90                 5.5               2.6                4.4               1.2
91                 6.1               3.0                4.6               1.4
92                 5.8               2.6                4.0               1.2
93                 5.0               2.3                3.3               1.0
94                 5.6               2.7                4.2               1.3
95                 5.7               3.0                4.2               1.2
96                 5.7               2.9                4.2               1.3
97                 6.2               2.9                4.3               1.3
98                 5.1               2.5                3.0               1.1
99                 5.7               2.8                4.1               1.3
100                6.3               3.3                6.0               2.5
101                5.8               2.7                5.1               1.9
102                7.1               3.0                5.9               2.1
103                6.3               2.9                5.6               1.8
104                6.5               3.0                5.8               2.2
105                7.6               3.0                6.6               2.1
106                4.9               2.5                4.5               1.7
107                7.3               2.9                6.3               1.8
108                6.7               2.5                5.8               1.8
109                7.2               3.6                6.1               2.5
110                6.5               3.2                5.1               2.0
111                6.4               2.7                5.3               1.9
112                6.8               3.0                5.5               2.1
113                5.7               2.5                5.0               2.0
114                5.8               2.8                5.1               2.4
115                6.4               3.2                5.3               2.3
116                6.5               3.0                5.5               1.8
117                7.7               3.8                6.7               2.2
118                7.7               2.6                6.9               2.3
119                6.0               2.2                5.0               1.5
120                6.9               3.2                5.7               2.3
121                5.6               2.8                4.9               2.0
122                7.7               2.8                6.7               2.0
123                6.3               2.7                4.9               1.8
124                6.7               3.3                5.7               2.1
125                7.2               3.2                6.0               1.8
126                6.2               2.8                4.8               1.8
127                6.1               3.0                4.9               1.8
128                6.4               2.8                5.6               2.1
129                7.2               3.0                5.8               1.6
130                7.4               2.8                6.1               1.9
131                7.9               3.8                6.4               2.0
132                6.4               2.8                5.6               2.2
133                6.3               2.8                5.1               1.5
134                6.1               2.6                5.6               1.4
135                7.7               3.0                6.1               2.3
136                6.3               3.4                5.6               2.4
137                6.4               3.1                5.5               1.8
138                6.0               3.0                4.8               1.8
139                6.9               3.1                5.4               2.1
140                6.7               3.1                5.6               2.4
141                6.9               3.1                5.1               2.3
142                5.8               2.7                5.1               1.9
143                6.8               3.2                5.9               2.3
144                6.7               3.3                5.7               2.5
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

In [43]:
import pandas as pd
import numpy as np

data = {'First Score':[100, 90, np.nan, 95], 
        'Second Score': [30, 45, 56, np.nan], 
        'Third Score':[np.nan, 40, 80, 98]}

df = pd.DataFrame(data)

df.isnull()

   First Score  Second Score  Third Score
0        False         False         True
1        False         False        False
2         True         False        False
3        False          True        False

In [50]:
import numpy as np
import pandas as pd

data = {'First Score':[100.0, 90.0, np.nan ,95.0],
       'Second Score':[30.0,45.0,56.0,np.nan],
       'Thirs Score':[np.nan, 40.0, 80.0, 98.0]}

df = pd.DataFrame(data)

df.replace(to_replace = np.nan, value=-99)

   First Score  Second Score  Thirs Score
0        100.0          30.0        -99.0
1         90.0          45.0         40.0
2        -99.0          56.0         80.0
3         95.0         -99.0         98.0